/*=== SLIDES ===*/

/*=== 

font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Federo', sans-serif;
font-family: 'Italiana', serif;
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;

===*/

h1,
h2,
h3,
h4,
h5,
h6.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

#family-owned {
  background-image: url('../images/section-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label.form-label {
  font-size: smaller;
}
